.footer {
  max-width: 880px;
  margin: 0 auto;
  display: flex;
  justify-content: left;
}
.footer__copy {
  width: 880px;
  font-family: "inter", sans-serif;
  color: white;
  margin: 100px auto 30px auto;
}
