.page {
  font-family: "Inter-Regular", Arial, sans-serif;
  position: relative;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra horizontalmente los hijos */
}
