.profile {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
}
.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover; /* MUY importante */
}
.profile__id {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile__id-textos {
  display: flex;
  flex-direction: column;
}
.profile__name {
  font-family: "inter", sans-serif;
  font-size: 42px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 0;
  margin-top: 15px;
  margin-left: 30px;
}
.profile__degree {
  font-family: "inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-align: start;
  margin-top: 10px;
  margin-left: 30px;
}
.profile__button {
  border: 2px solid white;
  background-color: black;
  margin-top: 30px;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.3s ease;
}
.profile__button:hover {
  border-color: gray; /* Borde azul */
  box-shadow: 0 4px 8px rgba(183, 178, 178, 0.3);
  background-color: #383636;
  transform: scale(1.05); /* Efecto de "zoom" suave */
}
.profile-button-edit {
  width: 24px;
  height: 24px;
  margin-left: 15px;
  margin-right: 30px;
  cursor: pointer;
  align-self: flex-start;
}
.profile-button-add {
  width: 150px;
  height: 50px;
  margin-left: auto;
}
/** avatar */
.profile__avatar-button {
  position: relative;
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.profile__avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}

.profile__avatar-overlay {
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.6);
  background-image: url("../images/lapiz.png"); /* tu ícono de lápiz */
  background-repeat: no-repeat;
  background-position: center;
  background-size: 26px 26px; /* ajusta */
  opacity: 0;
  transition: opacity 0.2s ease;
}

.profile__avatar-button:hover .profile__avatar-overlay {
  opacity: 1;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  /* Estilos para tablets y laptops medianos */
  .profile__avatar {
    margin-left: 10px;
  }
  .profile-button-add {
    width: 150px;
    height: 50px;
    margin-left: auto;
    margin-right: 10px;
  }
}
@media screen and (max-width: 767px) {
  .profile {
    flex-direction: column;
  }
  .profile-button-add {
    width: 282px;
    height: 50px;
    margin: 0 auto;
  }
  .profile-button-edit {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
  .profile__avatar {
    margin: 0 auto;
  }
}
